<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="content-type" 
    content="text/html; charset=UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" 
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  crossorigin="anonymous">
  <link rel='stylesheet' 
    href='/stylesheets/style.css' />
</head>

<body class="container">
  <header>
    <h1 class="display-4">
      <%= title %></h1>
  </header>
  <div role="main">
    <table class="table">
      <tr>
        <th>NUMBER</th>
        <td><%= form.number %></td>
      </tr>
      <tr>
        <th>X座標</th>
        <td><%= form.x %></td>
      </tr>
      <tr>
        <th>y座標</th>
        <td><%= form.y %></td>
      </tr>
      <tr>
        <th></th>
        <td></td>
      </tr>
    </table>
    <form method="post" action="/seatinfos/delete">
      <input type="hidden" name="id" 
        value="<%= form.id %>">
      <input type="submit" value="削除" class="btn btn-primary">
      <a class="btn btn-primary" href="/seatinfos/index">戻る</a>
    </form>
  </div>
</body>

</html>